{% include "require/header.twig" %}

<div class="text-center">
    <h1 class="display-4 mt-5 bold">Music Speaks</h1>
    <h3 class="mt-1">What have you been listening to?</h3>
</div>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a>Let's Jump In!</a></h4>
                    <p class="card-text">Signing in will allow you to view statistics about the music and artists you listen to on Spotify. Your token is stored locally and is not saved on any server, feel free to take a look at the code in the <a href="https://github.com/MastaCoder/mySpotify">GitHub Repo.</a></p>
                    <a href="auth.php" class="btn btn-primary"><i class="fab fa-spotify"></i> Login with Spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "require/footer.twig" %}