/* Main */

html {
    height: 100%;
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    position: relative;
    /* margin: 0; */
    padding-bottom: 6rem;
    min-height: 100%;
}
  
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

@media (min-width: 576px) {
    .container.wide {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container.wide {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container.wide {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container.wide {
        max-width: 1750px;
    }
}

/* Website Classes */

.song-title {
    font-size: 16.5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
}

.song-sub {
    margin-top: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.cover {
    object-fit: cover;
    height: 140px;
}

.cover-songs {
    object-fit: cover;
    height: 20px;
}

.bold {
    font-weight: 900;
}